@inject IOptions<AppSettings> AppSettings
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - @AppSettings.Options.SiteTitle</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/holo.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap/3.0.0/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="hidden" asp-fallback-test-property="visibility" asp-fallback-test-value="hidden" />
        <link rel="stylesheet" href="~/css/holo.css" />
    </environment>
</head>

<body>

    <div class="page-container">

        <!-- top navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">@AppSettings.Options.SiteTitle</a>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="row row-offcanvas row-offcanvas-left">

                <!-- sidebar -->
                <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                    <div class="affix-top" data-spy="affix" data-offset-top="45" data-offset-bottom="90">
                        <ul class="nav" id="sidebar-nav">
                            <li>@Html.ActionLink("Home", "Index", "home")</li>
                            <li>@Html.ActionLink("Quadrants", "Index", "quadrant")</li>
                            <li>@Html.ActionLink("Sectors", "Index", "sector")</li>
                            <li>@Html.ActionLink("Planets", "Index", "planet")</li>
                            <li>@Html.ActionLink("Ships", "Index", "ship")</li>
                        </ul>
                    </div>
                </div>

                <!-- main area -->
                <div class="col-xs-12 col-sm-9" data-spy="scroll" data-target="#sidebar-nav">

                    @RenderBody()

                </div><!-- /.col-xs-12 main -->
            </div><!--/.row-->
        </div><!--/.col-sm-12-->
    </div><!--/.page-container-->


    <div id="footer">
        <!--footer-->
        <div class="container">
            <div class="row">
                <ul class="list-unstyled">
                    <li class="col-sm-4 col-xs-6">
                        <a href="#">About</a>
                    </li>
                    <li class="col-sm-4 col-xs-6">
                        <a href="#">Services</a>
                    </li>
                    <li class="col-sm-4 col-xs-6">
                        <a href="#">Studies</a>
                    </li>
                    <li class="col-sm-4 col-xs-6">
                        <a href="#">References</a>
                    </li>
                    <li class="col-sm-4 col-xs-6">
                        <a href="#">Login</a>
                    </li>
                    <li class="col-sm-4 col-xs-6">
                        <a href="#">Press</a>
                    </li>
                    <li class="col-sm-4 col-xs-6">
                        <a href="#">Contact</a>
                    </li>
                    <li class="col-sm-4 col-xs-6">
                        <a href="#">Impressum</a>
                    </li>
                </ul>
            </div><!--/row-->

        </div><!--/container-->
    </div><!--/footer-->

    <div id="push"></div>

    <environment names="Development">
        <script src="~/lib/quant/quant.js"></script>
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/quant/quant.js"></script>
        <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-1.10.2.min.js"
                asp-fallback-src="~/lib/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="//ajax.aspnetcdn.com/ajax/bootstrap/3.0.0/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery">
        </script>
    </environment>

    <script type="text/javascript">

            $(document).ready(function() {
                $('[data-toggle=offcanvas]').click(function() {
				    $('.row-offcanvas').toggleClass('active');
			    });

			    $('.btn-toggle').click(function() {
				    $(this).find('.btn').toggleClass('active').toggleClass('btn-default').toggleClass('btn-primary');
			    });
            });

    </script>

    @RenderSection("scripts", required: false)


</body>
</html>
